*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is
  font-size: 62.5%; // 1 rem = 10px; = 62.5%

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; // 1 rem = 9px
  }

  @include respond(tab-port) {
    // width < 900
    font-size: 50%; //1 rem = 8px
  }

  // @include respond(phone) {
  //   // width < 600
  //   font-size: 30%; //1 rem = 4.8px
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

// on cursor select text
// ::selection {
//   background-color: $color-primary;
//   color: $color-white;
// }
